# Kernel modules
modules.order
Module.symvers
*.ko
*.mod.c
*.o
*.ko.cmd
*.o.cmd
.tmp_versions

# Bluespec
*.bo
mk*.v

# Quartus II
PLLJ_PLLSPE_INFO.txt
*.sopcinfo
db
incremental_db
output_files
/PCIe_HW/de4_pcie.qsf
/PCIe_HW/de4_pcie
